/*
* {
	box-sizing: border-box;
} */
html, body {
	padding: 0;
	margin: 0;
}

nav {display:inline-block; }

/*
header {
	text-align: center;
	min-height: 245px;
}

section {
	margin: 1em 0;
}
*/
nav ul {
	padding: 0;
	margin:0;
	vertical-align: middle;
	/*.text-align: center; */
}
header nav ul li {
	list-style: none;
	display: inline-block;
	height: 55px;
	line-height: 55px;
}

nav ul li {
	cursor: pointer;
}

.magic-hat {
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

.magic {
	display: inline-block;
	width: 100%;
}


a, a:hover {
	text-decoration: none;
}
/* */